
.card-body{
  height: 6rem;
    width: 20rem;
    background-color: lightgrey;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 6px 5px 5px grey;
    align-items: center;
}

.card-body span{
  width: 100%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  position: relative;
  font-weight: 600;
}


.card-body span.num {
  font-size: 4.5rem;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(1,1,1,0.2);

}

.card{
  display: flex;
  justify-content: center;
  height: 21rem;
  align-items: flex-end;
}

.card1{
  display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.num, .button1, .button2{
  font-family: 'Raleway', sans-serif;
}

.number{
  font-size: 80px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.p1 .p2{
  font-family: 'Raleway', sans-serif;
}